# Unexpanded VIC-20 Crunch
#
# $1001     BASIC stub + code + small RODATA
# $1800     font $00–$3F; $1A00 extra code; tiles at $1B00
# $1B40     BSS (not playfield)
# $1C00     nibble-packed maps
# $1E00     stock screen (not in PRG)
# $033C     playfield (tape buffer)
# $9600     color RAM

FEATURES {
    STARTADDRESS: default = $1001;
}
SYMBOLS {
    __LOADADDR__: type = import;
}
MEMORY {
    ZP:       file = "", start = $0002, size = $001A, define = yes;
    LOADADDR: file = %O, start = %S - 2, size = $0002;
    MAIN:     file = %O, start = $1001, size = $1800 - $1001, fill = yes, fillval = $00;
    CHAR:     file = %O, start = $1800, size = $0400, fill = yes, fillval = $00;
    MAPMEM:   file = %O, start = $1C00, size = $0200;
    TAPE:     file = "", start = $033C, size = $0080;
}
SEGMENTS {
    ZEROPAGE:  load = ZP,      type = zp,  optional = yes;
    LOADADDR:  load = LOADADDR, type = ro;
    EXEHDR:    load = MAIN,    type = ro;
    CODE:      load = MAIN,    type = ro;
    RODATA:    load = MAIN,    type = ro;
    DATA:      load = MAIN,    type = rw,  optional = yes;
    CODE2:     load = CHAR,    type = ro,  start = $1A00;
    TILES:     load = CHAR,    type = ro,  start = $1B00;
    BSS:       load = CHAR,    type = bss, start = $1B40, define = yes;
    CODE3:     load = CHAR,    type = ro,  start = $1B6A;
    SFXCODE:   load = CHAR,    type = ro,  start = $1BD0;
    MAPS:      load = MAPMEM,  type = ro;
    PLAYFIELD: load = TAPE,    type = bss;
}
